@charset "UTF-8";

section#conteudo{
    width:900px;
    margin: auto;
}
iframe#frame-spec{
    width: 380px;
    height: 280px;
    border: none;
    overflow:hidden;
}

iframe#frame-spec ::-webkit-scrollbar{
    display: none;
}

